h1{
  font-family:arial, sans-serif;
  font-size:2em;
  color:red;
}
body{
  margin:0 auto;
  width: 90%;
  background-color:#e7e7e7;
}
nav ul{
  margin:0 auto;
}
nav li{
  list-style:none;
  display:inline;
  padding-left: 20px;
}
